<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Manager</title>
		<% include head %>
		<style>
			.button{
				margin-left: 5px;
				margin-top: 2px;
			}
			.block{
				margin-bottom: 10px;
			}
			.panel-shadow{
				-webkit-box-shadow: 1px 4px 8px 1px rgba(134,134,209,1);
				-moz-box-shadow: 1px 4px 8px 1px rgba(134,134,209,1);
				box-shadow: 1px 4px 8px 1px rgba(134,134,209,1);
			}
			.panel-shadow-danger{
				-webkit-box-shadow: 1px 4px 8px 1px rgba(138,88,88,1);
				-moz-box-shadow: 1px 4px 8px 1px rgba(138,88,88,1);
				box-shadow: 1px 4px 8px 1px rgba(138,88,88,1);
			}
		</style>
		<script>
			<% 
				var roles = CONST.ROLES;
				var rolenames = [];
				for (var i = 0; i < roles.length; i++) {
					rolenames.push(roles[i].name);
				}
			%>
			var roles = <%- JSON.stringify(rolenames) %>;
		</script>
	</head>
	<body>
	<%include nav %>
	<div class="container">
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-5">
			<div class="panel panel-primary panel-shadow">
				<div class="panel-heading"><h4 class="text-center">Xác định quyền cấp tối thiểu để thực hiện các thao tác</h4></div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<h5 class="text-primary">Thao tác</h5 class="text-primary">
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<h5 class="text-primary">Cấp tối thiểu</h5 class="text-primary">
								</div>
								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									
								</div>
							</div>
						</li>
						<% var perms = CONST.PERMS;%>
						<% for(var i in perms) { %>
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<%= perms[i].name %>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<select name="select-<%= perms[i].url %>">
											<% for(var j = 0; j < roles.length; j++) { %>
												<option value="<%= roles[j].perm %>" <% if (roles[j].perm == perms[i].perm) {%>selected<% } %>><%= roles[j].name %></option>
											<% } %>
										</select>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<button type="button" class="btn btn-primary" onclick="update('<%= perms[i].url %>')">Set</button>
									</div>
								</div>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-5">
			<div class="panel-group" id="accordion">
				<div class="panel panel-primary panel-shadow">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Thêm cấp</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<input type="text" name="rolename" id="rolename" placeholder="Tên" class="form-control" />
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 block">
								<select name="select-new-role" id="select-new-role" class="form-control">
									<% for(var i = 0; i < roles.length - 1; i++) { %>
										<option value="<%= i %>"><%= 'Giữa ' + roles[i].name + ' và ' + roles[i + 1].name %></option>
									<% } %>
								</select>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<button class="btn btn-success btn-block" onclick="addRole()">Thêm</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-danger panel-shadow-danger">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Xóa cấp</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<select id="select-delete-role" class="form-control">
									<% for(var j = 1; j < roles.length - 1; j++) { %>
										<option value="<%= j %>"><%= roles[j].name %></option>
									<% } %>
								</select>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<button class="btn btn-danger" onclick="deleteRole()">Xóa</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<script>
			function ob (x) {
				return document.getElementById(x);
			}
			function update (action) {
				console.log(action);
				var newPerm = parseInt(document.getElementsByName('select-' + action)[0].value);
				console.log(newPerm);
				var url = '/api/permission/' + action + '/' + newPerm;
				console.log(url);
				$.ajax({
					url: url,
					method: 'GET',
					success: function (data) {
						console.log(data);
						if (data.status.localeCompare('success') == 0){
							alert('Cập nhật thành công. Trang sẽ tự reload sau 1s.');
						}
						setTimeout(function () {
							window.location.reload(true);
						}, 1000);
						
					},
					error: function (err) {
						console.log(err);
						console.log(err.responseJSON.error);
					}
				})
			}
			function addRole () {
				var rolename = ob('rolename').value.trim();
				if (rolename.length < 1){
					return alert('Nhập tên');
				}
				var position = parseInt(ob('select-new-role').value);
				$.ajax({
					url: '/api/permission/addrole',
					method: 'POST',
					data: {name: rolename, position: position},
					success: function (data) {
						console.log(data);
						if (data.status.localeCompare('success') == 0){
							alert('Thêm thành công. Trang sẽ tự reload sau 1s.');
							setTimeout(function () {
								window.location.reload(true);
							}, 1000);
						}
					},
					error: function (err) {
						console.log(err);
						alert(err.responseJSON.error);
					}
				})
			}

			function deleteRole () {
				var position = parseInt(ob('select-delete-role').value);
				console.log(position);
				var c = confirm('Cấp sau khi xóa sẽ không thể phục hồi. Mọi user đang ở cấp ' + roles[position] + ' sẽ bị giảm xuống cấp ' + roles[position + 1] +  '. Tiếp tục?');
				if (!c){
					return;
				}
				$.ajax({
					url: '/api/permission/deleterole',
					method: 'POST',
					data: {position: position},
					success(data){
						console.log(data);
						if (data.status.localeCompare('success') == 0){
							alert('Xóa thành công. Trang sẽ tự reload sau 1s.');
							setTimeout(function () {
								window.location.reload(true);
							}, 1000);
						}
					},
					error(err){
						console.log(err);
						alert(err.responseJSON.error);
					}
				})
			}
		</script>
	</div>
	</body>
</html>


